# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.[Cc]ache
*.[Oo]bj
*.aps
*.bak
*.DS_Store
*.ilk
*.lib
*.log
*.ncb
*.opensdf
*.pch
*.resharper
*.sbr
*.sdf
*.suo
*.tlb
*.tlh
*.unsuccessfulbuild
*.user
*.vspscc
*.vssscc
*_i.c
*_p.c
*.orig
.svn
[Bb]in
[Dd]ebug*/
[Oo]bj
[Rr]elease*/
[Tt]est[Rr]esult*
[Tt]humbs.db
_ReSharper*/
_ReSharper.*
~$*
Ankh.NoLoad
ipch/
obj/